<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="flex flex-col min-h-screen bg-[#F7DEAD]">
    <header class="bg-[#CD4439] text-white py-4">
      <div class="container mx-auto max-w-screen-lg flex flex-wrap items-center justify-between px-2 md:px-0">
        <h1 class="text-xl md:text-2xl lg:text-3xl font-bold mb-2 md:mb-0"><a href="/">Ruby Romania</a></h1>
        <ul class="flex text-sm md:text-base lg:text-lg space-x-4">
            <li class="mb-2 md:mb-0"><a href="about">About Us</a></li>
            <li class="mb-2 md:mb-0"><a href="resources">Ruby Resources</a></li>
            <li class="mb-2 md:mb-0"><a href="news">News</a></li>
            <li class="mb-2 md:mb-0"><a href="meetup">Meetup</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </header>

    <main class="flex-1 container mx-auto max-w-screen-lg px-2 md:px-0">
      {{ content }}
    </main>

    <footer class="bg-gray-600 text-white py-3">
      <div class="container mx-auto max-w-screen-lg px-2 md:px-0">
        <p>&copy; 2023 Ruby Romania. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
