<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <header class="bg-red-700 text-white py-4">
      <div class="container mx-auto flex flex-wrap items-center justify-between">
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-2 md:mb-0"><a href="/">Ruby Romania</a></h1>
        <ul class="flex text-sm md:text-base lg:text-lg">
            <li class="mb-2 md:mb-0 mr-4"><a href="about">About Us</a></li>
            <li class="mb-2 md:mb-0 mr-4"><a href="resources">Ruby Resources</a></li>
            <li class="mb-2 md:mb-0 mr-4"><a href="news">News</a></li>
            <li class="mb-2 md:mb-0 mr-4"><a href="meetup">Meetup</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </header>

    <main class="flex-1">
      {{ content }}
    </main>

    <footer class="bg-gray-800 text-white py-4">
      <div class="container mx-auto">
        <p>&copy; 2023 Ruby Romania. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
